/*
The MIT License

Copyright 2016 Pawel Marynowski.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/

.root {
  -fx-accent: #bbb;
  -fx-focus-color: #347bff;
  -fx-font-size: 12px;
  -fx-font-family: "Helvetica";
}

.background {
  -fx-background-color: #fff;
  -fx-padding: 50px;
/*  -fx-grid-lines-visible: true;*/
}

.scroll-pane {
  -fx-background-color: #fff;
  -fx-border-width: 0;
  -fx-border-insets: 0;
}

.scroll-pane > .viewport {
  -fx-background-color: #fff;
}

.title {
  -fx-font-size: 25px;
  -fx-font-weight: bold;
}

.header, .mw-ui-header {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}

.muted {
  -fx-text-fill: #aaa;
}

.bold {
  -fx-font-weight: bold;
}

.message {
  -fx-padding: .5em 1em .5em 1em;
  -fx-border-width: 2px;
  -fx-border-color: #F9C557;
  -fx-border-insets: 0;
  -fx-border-radius: 2px;
}

.hyperlink {
  -fx-text-fill: #347bff;
}

/* INPUT
 ******************************************************************************/

.mw-ui-input {
  -fx-padding: .4em .3em .4em .6em;
  -fx-border-width: 2px;
  -fx-border-color: #ccc;
  -fx-background-color: #fff;
  -fx-border-insets: 0;
  -fx-border-radius: 2px;
  -fx-font-size: 13px;
  -fx-font-family: "Helvetica";
}

.mw-ui-input:focused {
  -fx-border-color: #347bff;
}

.mw-ui-input:disabled {
  -fx-opacity: 1.0;
}

.mw-ui-input .scroll-pane, .mw-ui-input .content {
  -fx-padding: 0;
  -fx-border-width: 0;
  -fx-background-insets: 0;
}

/* BUTTONS
 ******************************************************************************/

.mw-ui-button {
  -fx-font-family: "Helvetica";
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #555;
  -fx-background-color: #ddd;
  -fx-padding: .5em 1em .5em 1em;
  -fx-border-width: 1px;
  -fx-border-color: #ddd;
  -fx-border-insets: 0;
  -fx-border-radius: 2px;
  -fx-text-alignment: center;
  -fx-cursor: hand;
}

.mw-ui-button:hover {
  -fx-opacity: 0.7;
}

.mw-ui-button.mw-ui-progressive,
.mw-ui-button.mw-ui-primary {
  -fx-background-color: #347bff;
  -fx-text-fill: #fff;
  -fx-border-width: 1px;
  -fx-border-color: #347bff;
}

.mw-ui-button.mw-ui-inversed {
  -fx-border-width: 1px;
  -fx-border-color: #ddd;
  -fx-background-color: #fff;
}

.mw-ui-button.mw-ui-inversed:hover {
  -fx-background-color: #ddd;
  -fx-border-color: #ddd;
}

.mw-ui-button.mw-ui-small {
  -fx-font-size: 13px;
  -fx-font-weight: normal;
  -fx-padding: .3em 1em .3em 1em;
}

.mw-ui-button.mw-ui-noborder {
  -fx-padding: 0;
  -fx-border-width: 0;
  -fx-background-color: #fff;
}

.mw-ui-button.mw-ui-group-right {
  -fx-border-radius: 0 2px 2px 0;
}

.mw-ui-button.mw-ui-group-left {
  -fx-border-radius: 2px 0 0 2px;
}

/* PROGRESS BAR
 ******************************************************************************/

.mw-ui-progressbar-container {
  -fx-padding: 0 0 40px 0;
}

.mw-ui-progressbar .track {
  -fx-box-border: 0;
  -fx-background-color: #dddddd;
  -fx-background-insets: 0;
}

.mw-ui-progressbar .bar {
  -fx-background-color: #000000;
  -fx-background-radius: 1 0 0 1;
  -fx-background-insets: 0;
  -fx-padding: 2px;
}

.mw-ui-progressbar-dot {
  -fx-fill: #ddd;
}

.mw-ui-progressbar-dot-active {
  -fx-fill: #000;
}

.mw-ui-progressbar-text {
  -fx-text-fill: #bbb;
}

.mw-ui-progressbar-text-active {
  -fx-text-fill: #000;
}

/* TABS
 ******************************************************************************/

.mw-ui-tabs {
  -fx-border-width: 0;
  -fx-background-insets: 0;
}

.mw-ui-tabs .tab-header-area,
.mw-ui-tabs .headers-region,
.mw-ui-tabs .tab-header-background {
  -fx-background-color: transparent;
}

.mw-ui-tabs .tab {
  /*  -fx-padding: .3em .3em .3em .6em;*/
  -fx-border-width: 2px 2px 0 2px;
  -fx-border-color: #ccc;
  -fx-border-radius: 2px 2px 0 0;
  -fx-background-insets: 0;
  -fx-background-color: transparent;
}

.mw-ui-tabs .tab-label {
  -fx-border-width: 0;
  -fx-background-insets: 0;
}

.mw-ui-tabs .tab-content-area {
  -fx-padding: .3em .3em .3em .6em;
  -fx-border-width: 2px;
  -fx-border-color: #ccc;
}

/*
  -fx-padding: .3em .3em .3em .6em;
  -fx-border-width: 2px;
  -fx-border-color: #ccc;
  -fx-background-color: #fff;
  -fx-border-insets: 0;

  -fx-font-size: 13px;
  -fx-font-family: "Helvetica";
*/